@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/500.css";
@import "@fontsource/manrope/600.css";
@import "@fontsource/manrope/700.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.loader {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #ebcec3;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.gradientBackground {
  /*position: fixed;*/
  top: 0;
  left: 0;
  /*width: 1440px;*/
  height: 511px;
  background-image: url("/img/GradientMesh_Light.png");
  background-size: cover;
  background-position: center;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.topGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55vh; /* Adjust this value to control how much of the page is covered by the gradient */
  background-image: url("/img/GradientMesh_Light.png"); /* Replace with your actual gradient background image */
  background-size: cover;
  background-position: center top;
  z-index: 0;
}

input {
  caret-color: #ff9d98;
  padding-left: 4px;
}
/* Hide scrollbar globally for .scrollbar-none */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.css-8t49rw-MuiStepConnector-line {
  margin-left: 10px;
}
.react-international-phone-input {
  width: 400px;
  height: 40px !important;
  border-radius: 0px 100px 100px 0px !important;
}
.react-international-phone-input-container {
  margin-top: 4px;
  height: 40px;
}
.react-international-phone-country-selector-button {
  height: 40px !important;
  border-radius: 100px 0px 0px 100px !important;
  padding-left: 10px !important;
}
/* Hide scrollbar for Webkit (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.rdrDefinedRangesWrapper {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.rdrDateDisplayWrapper {
  background-color: rgba(255, 255, 255, 0) !important;
}
.rdrDateDisplayItem {
  box-shadow: none !important;
  border-radius: 100px !important;
  border: 1px solid gainsboro !important;
}
/* Ensure no accidental styling overrides */
.overflow-x-auto {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

#rfs-btn {
  border-radius: 40px;
  border: 1px solid rgba(225, 228, 234, 1);
  padding: 5px 7px;
  margin-top: 4px;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid black;
}
.rdrStartEdge {
  background-color: #5f00da !important;
  color: white !important;
}
.rdrEndEdge {
  background-color: #5f00da !important;
  color: white !important;
}
.rdrDayNumber ::after {
  color: #0e121b;
}
.rdrDayNumber {
  color: #0e121b !important;
}

.rdrInRange {
  background: rgba(141, 138, 138, 0.521) !important;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(161, 160, 160, 0.349);

  z-index: 99999;
}
.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.box {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: absolute;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.box1 {
  background: linear-gradient(90deg, #c9fafe 0%, #e3e3fb 100%);
  left: 0; /* Initial position for box1 */
  animation-name: slide1;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.1s;
}
.box2 {
  background: linear-gradient(90deg, #bcd3fc 0%, #dbb7f7 100%);
  left: 50px; /* Initial position for box2 */
  animation-name: slide2;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.box3 {
  background: linear-gradient(90deg, #bcaaf6 0%, #ec89fd 100%);
  left: 100px; /* Initial position for box3 */
  animation-name: slide3;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.3s;
}
@keyframes slide1 {
  0% {
    left: 200px;
  } /* Start from the right */
  100% {
    left: 0px;
  } /* Slide to the left */
}
@keyframes slide2 {
  0% {
    left: 200px;
  } /* Start from the right */
  100% {
    left: 25px;
  } /* Slide to the left */
}
@keyframes slide3 {
  0% {
    left: 200px;
  } /* Start from the right */
  100% {
    left: 45px;
  } /* Slide to the left */
}
.active {
  color: #141156;
}
.default {
  color: rgba(82, 88, 102, 1);
}
.default:hover {
  color: #141156;
}
.see-all {
  width: 70px;
  height: 30px;
  border-radius: 100px;
}
.see-all:hover {
  background-color: #efd8f3a1;
}
.btn {
  background-color: #141156;
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 100px;
  margin-top: 26px;
  border: 1px solid rgba(220, 220, 220, 0);
  font-weight: 500;
}
.btn:hover {
  background-color: rgba(254, 232, 119, 1);
  color: #141156;
}

.btn:active {
  background-color: rgba(254, 237, 153, 1);
  color: #141156;
}

.btn:focus {
  background-color: rgba(255, 243, 187, 1);
  color: #141156;
  outline: 1px solid rgba(255, 248, 214, 1);
}
figure {
  display: none !important;
}
.login-input {
  padding-left: 30px;
  background-color: white;
}

.login-input::placeholder {
  font-size: 14px;
  font-weight: 100;
  color: #99a0ae;
}
.login-input-password {
  font-weight: 500;
  color: #0e121b;
  /* font-size: 18px; */
  padding-left: 30px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  padding-right: 40px;
}
/* .login-input-password::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 
  
  
    
   
} */
:root {
  scroll-padding: 0;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #1e2124;
}

.MuiOutlinedInput-root {
  border-radius: 100px;
  height: 40px;
  overflow: hidden;
}
.MuiAccordion-root::before {
  background-color: rgba(240, 248, 255, 0);
}
input[type="checkbox"] {
  border-radius: 1px;
  accent-color: rgb(22, 24, 22);
}
.MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0);
}
.needle {
  display: none !important;
}
.text-group {
  display: none !important;
}
#st-expiration-date-input {
  color: black;
  border-radius: 100px !important;
}
#st-card-number-input {
  color: black;
  border-radius: 100px !important;
}
.st-animated-card {
  width: 100%;
}
#st-animated-card {
  margin: 0;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Ensure the text doesn't exceed the container's width */
}
/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrolling */
}

/* Style the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the track */
  border-radius: 10px; /* Optional: rounded corners */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #ff9d98; /* Color of the thumb */
  border-radius: 10px; /* Optional: rounded corners */
  border: 3px solid #f1f1f1; /* Optional: creates padding around the thumb */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #b47072; /* Darker color on hover */
}
#st-notification-frame {
  margin-top: 20px;

  height: 100px !important;

  font-size: 14px;
}
powered-by-smile-id {
  display: none !important;
}
#request-camera-access {
  background-color: #141156;
}
/* .login-image{
    background-image: url("/img/login-bg.png");
    background-size: cover;
   
  } */
.add-card-btn:hover {
  color: #655dfd;
}
.swipe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.swipe-content {
  background: white;
  padding: 10px;
  transition: transform 0.3s ease-out;
}

.download-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80px;
  background: #cac0ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.download-button.visible {
  transform: translateX(0%);
}
.PhoneInputInput:focus {
  outline: none !important;
}
.PhoneInputCountryIcon {
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-items: center;
}
div .PhoneInputCountryIcon--border {
  box-shadow: none !important;
  border-radius: 100% !important;
  overflow: hidden;
  background-color: transparent !important;
  height: 20px !important;
  width: 20px !important;
  position: relative !important;
}
.PhoneInputCountryIconImg {
  position: absolute !important;
  height: 20px !important;
  width: 20px !important;
  border-radius: 50% !important; /* 100% works too, but 50% is more common */
  object-fit: cover !important; /* Ensures the image fills the circular area properly */
}
.scrollbar-hide ::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-hide {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
.MuiGauge-valueText {
  display: none !important;
}
.MuiGauge-referenceArc {
  width: 100% !important;
}
.MuiGauge-referenceArc .MuiGauge-valueArc {
  fill: #9747ff !important;
}
.CountryFlagIcon-height {
  height: 32px !important;
}
